<div class="panel panel-info">
  <div class="panel-heading">
    <h4>{{ outcome }}</h4>
  </div>
  <div class="panel-body">
    You chose: {{ choice_p1 }}<br>
    Computer chose: {{ choice_p2 }}<br>
  </div>
</div>

